# Requires enable_environment_macros=1 in nagios.cfg.

define command {
    command_name notify_host_htmlmail
    command_line /usr/lib/nagios/plugins/notify-html-email.py --nagios-host
}

define command {
    command_name notify_service_htmlmail
    command_line /usr/lib/nagios/plugins/notify-html-email.py --nagios-service
}

